.works{
	@extend .container;
	background-color: color(gray-light);
	//margin-bottom: $padding * 10;
	overflow: hidden;

	.works_wrapper {
		@extend .row;
		margin-bottom: -$padding;
		@include transition(all 0.6s ease-in-out);
		overflow: hidden;
	}

	.work {
		width: 100%;
		background-color: color(gray-light);
		float: left;
		margin-bottom: $padding;
		position: relative;
		overflow: hidden;
		@incldue perspective(rem-calc(1000));

		@media #{$medium-up} {
			width: 32%;
			margin-left: 2%;
			margin-right: 2%;

			&:nth-child(n+1) {
				margin-left: 0;
			}

			&:nth-child(3n+3) {
				margin-right: 0;
				float: right;
			}
		}

		@media #{$medium-only} {
			width: 50%;
			margin: 0;
		}

		img {
			float: left;
			-webkit-font-smoothing: subpixel-antialiased;
			background-color: color(gray-light);
		}

		&_desc {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: $padding;
			visibility: hidden;
			background-color: rgba(color(white), 0.9);
			z-index: 1000;

			p {
				margin-bottom: 0;
				position: relative;
				display: inline-block;
			}

			h3 {
				max-width: 70%;
				text-decoration: none;
				color: darken(color(gray), 30%);
			}

			&.bottom-left {
				.work_desc_wrapper {
					position: absolute;
					bottom: 0;
					left: 0;
					padding: $padding;
				}
			}
		}
	}
}
.description {
	padding-top: $padding * 4;
	padding-bottom: $padding * 4;

	p {
		color: darken(color(gray), 20%);
	}
}
.categories {
	margin-bottom: $padding * 4;
	p {
		color: color(gray);
		font-size: 90%;
		line-height: 1.6;
	}
}
.work_summaryGroup {
	margin-bottom: $padding * 3;
}
.work_synopsis {
	margin-bottom: $padding;
	padding-bottom: $padding;
	border-bottom: 1px solid lighten(color(gray), 15%);

	@media #{$medium-up} {
		border-bottom: none;
	}
}
.showcase {
	img {
		width: 100%;
		float: left;
	}
}
.load-more {
	font-size: rem-calc(60);
	padding: $padding * 2;
	text-align: center;

	@media #{$medium-up} {
		font-size: rem-calc(80);
	}

	@media #{$large-up} {
		font-size: rem-calc(100);
	}

	span {
		padding: $padding * 2;
		display: inline-block;
		cursor: pointer;
		@include transition(all 0.5s ease-in-out);
		text-decoration: none;
		color: color(gray);


		&:hover {
			@include transform(scale(1.5));
			color: darken(color(gray), 20%);
		}
	}
}
.worksPrevNext {
	font-size: rem-calc(60);
	text-align: center;
	@extend .container;

	a {
		text-decoration: none;
		color: color(gray);
	}

	div {
		@include transition(background-color 0.5s linear);

		&:hover {
			background-color: color(black);
		}
	}

	span {
		padding: $padding * 2;
		display: block;
		@include transition(transform 0.5s ease-in-out);
		@include transform(translateZ(0));
		cursor: pointer;

		&.icon-arrow-left {
			&:hover {
				@include transform(translateX(-20%));
				color: color(white);
			}
		}

		&.icon-arrow-right {
			&:hover {
				@include transform(translateX(20%));
				color: color(white);
			}
		}
	}

	@media #{$medium-only} {
		font-size: rem-calc(50);
	}

	@media #{$large-up} {
		font-size: rem-calc(70);
	}
}