<footer class="footer mt-pad">
		<div class="row">
			<div class="m-3-12">
				<h4><strong>witts &amp; stratts</strong></h4>
			</div>

			<div class="m-3-12">
				<h4><strong>Say Hello</strong></h4>

				<p>+234.809.388.5995 <br>
				hello@wittsandstratts.com</p>

				<p><a href="http://twitter.com/witts-stratts" title="Witts &amp; Stratts on Twitter" target="_blank"><span class="icon-twitter"></span></a></p>
			</div>

			<div class="m-6-12 end">
				<div class="slogan">designing experiences</div>
			</div>
		</div>

		<div class="row">
			<div class="m-3-12">&nbsp;</div>

			<div class="m-3-12 end copyright">
				Copyright &copy; {{ now.year }}. All rights reserved
			</div>
		</div>
	</footer>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20140415/jquery.cycle2.min.js"></script>
	<script src="/assets/js/DrawSVGPlugin.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
	<script src="/assets/js/script.js"></script>