<header class="{% if craft.request.firstSegment == '' %}home {% endif %}header mt-pad">
		<div class="row alwayson">
			<div class="logo"><a href="/" title="Witts & Stratts Homepage">{% include '_logo' %}</a></div>
			<div class="menu">
				<div class="nav-icon">
		          <span></span>
		          <span></span>
		          <span></span>
		          <span></span>
		          <span></span>
		          <span></span>
		        </div>
			</div>
		</div>
		<div class="offCanvasMenu mt-pad">
			<div class="row">
				<nav class="nav">
					<ul>
						<li><a href="/works" title="Witts &amp; Stratts Works">works</a></li>
						<li><a href="/about" title="About Witts &amp; Stratts">about</a></li>
						<li><a href="/contact" title="Contact Witts &amp; Stratts">contact</a></li>
					</ul>
				</nav>
			</div>

			<div class="row contacts">
				<div class="m-3-12">
					&nbsp;
				</div>

				<div class="m-3-12">
					<h4><strong>Say Hello</strong></h4>

					<p>
						+234.80.93885995 <br>
						hello@wittsandstratts.com
					</p>
				</div>

				<div class="m-3-12 end">
					<h4><strong>Business</strong></h4>

					<p>
						business@wittsandstratts.com
					</p>
				</div>
			</div>
		</div>
</header>